<template>
  <div class="add-tags">
    <div class="add-tags__header">
      <p class="add-tags__title">Добавление тегов</p>
      <p class="add-tags__text">Вы можете добавить ещё <span class="add-tags__text bold">{{ 20 - tags.length }}</span></p>
    </div>
    <div class="add-tags__content" :class="{ bottom: !searchResult?.length && searchResult !== null }">
      <Input title="Название тега" v-model="searchField" />
      <p class="add-tags__text padding" v-if="!searchResult?.length && searchResult !== null">По запросу ничего не найдено
      </p>      
      <div class="add-tags__list" v-if="searchResult?.length">
        <div @click="addTag(item)" class="add-tags__item" v-for="item in searchResult" :key="item.id">
          <span>{{ item.name }}</span>
        </div>
      </div>
    </div>
    <div class="add-tags__list border" v-if="tags.length">
      <div v-for="tag in tags" :key="tag.id" class="add-tags__item deletable">
        <span>{{ tag.name }}</span>
        <div @click="deleteTag(tag)" class="add-tags__delete">
          <Icon iconName="close" />
        </div>
      </div>
    </div>
    <div class="add-tags__footer">
      <Button :disabled="tags.length >= 20" @click="setTags">Сохранить</Button>
      <Button @click="modal.state = ''" class="ghost">Отмена</Button>
    </div>
  </div>
</template>

<script setup>
import { ref, watch } from 'vue'
import { useTags } from "../../store/tags";
import { useModal } from "../../store/modal";
import { watchDebounced } from '@vueuse/core'
import Button from "../../components/Base/Button.vue";
import Input from "../../components/Base/Input.vue";
import Icon from "../../components/Base/Icon.vue";

const store = useTags();
const modal = useModal();
const searchField = ref('')
const searchResult = ref(null)
const loading = ref(false)
const tags = ref([...store.tags])


watchDebounced(
  searchField,
  async () => {
    try {
      loading.value = true;
      const data = await getData()
      searchResult.value = search(searchField.value, data);
      loading.value = false;
    } catch (error) {
      console.log(error);
    }
  },
  { debounce: 500, maxWait: 1000 },
)

const addTag = (item) => {
  if (tags.value.find(element => element.id == item.id)) {
    return
  } else {
    tags.value.push(item)
  }
}

const setTags = () => {
  store.tags = tags.value
  modal.state = ''
}
const deleteTag = (item) => {
  tags.value = tags.value.filter((element) => element.id !== item.id)
}

const search = (search, data) => {  
  const results = [];
  if (search !== '') {
    for (let item of data) {
      for (let category of item.categories) {
        for (let subcategory of category.subcategories) {
          for (let tag of subcategory.tags) {
            if (tag.name.toString().toLowerCase().includes(search.toLowerCase())) {
              results.push({ id: tag.id, name: tag.name });
            }
            for (let alias of tag.aliases) {
              if (alias.toString().toLowerCase().includes(search.toLowerCase())) {
                results.push({ id: tag.id, name: tag.name });
              }
            }
          }
        }
      }
    }
  }
  return results;
}

const getData = () => {
  return new Promise((resolve, reject) => {
    const data = [{
      "id": 1,
      "name": "Товары",
      "categories": [{
        "id": 1,
        "name": "Электроника",
        "subcategories": [{
          "id": 1,
          "name": "Телефоны и смарт-часы",
          "tags": [{
            "id": 1,
            "name": "Смартфоны",
            "aliases": [
              "Телефон",
              "mobile",
              "iphone"
            ]
          },
          {
            "id": 2,
            "name": "Смарт-часы и фитнес-браслеты",
            "aliases": []
          },
          {
            "id": 3,
            "name": "SIM-карты",
            "aliases": []
          },
          {
            "id": 4,
            "name": "Мобильные телефоны",
            "aliases": []
          }
          ]
        },
        {
          "id": 2,
          "name": "Моноблоки и системные блоки",
          "tags": [{
            "id": 5,
            "name": "Системные блоки",
            "aliases": []
          },
          {
            "id": 6,
            "name": "Моноблоки",
            "aliases": []
          }
          ]
        },
        {
          "id": 3,
          "name": "Офисная техника",
          "tags": [{
            "id": 7,
            "name": "Принтеры",
            "aliases": []
          },
          {
            "id": 8,
            "name": "МФУ",
            "aliases": []
          },
          {
            "id": 9,
            "name": "Сканеры",
            "aliases": []
          }
          ]
        },
        {
          "id": 4,
          "name": "Телевизоры и видеотехника",
          "tags": [{
            "id": 10,
            "name": "Телевизоры",
            "aliases": []
          },
          {
            "id": 11,
            "name": "Кронштейны",
            "aliases": []
          }
          ]
        }
        ]
      },
      {
        "id": 2,
        "name": "Одежда",
        "subcategories": [{
          "id": 5,
          "name": "Женщинам",
          "tags": [{
            "id": 12,
            "name": "Брюки, бриджи и капри",
            "aliases": []
          },
          {
            "id": 13,
            "name": "Верхняя одежда",
            "aliases": []
          }
          ]
        },
        {
          "id": 6,
          "name": "Мужчинам",
          "tags": [{
            "id": 14,
            "name": "Брюки",
            "aliases": []
          },
          {
            "id": 15,
            "name": "Верхняя одежда",
            "aliases": []
          }
          ]
        },
        {
          "id": 7,
          "name": "Детям",
          "tags": [{
            "id": 16,
            "name": "Девочкам",
            "aliases": []
          },
          {
            "id": 17,
            "name": "Мальчикам",
            "aliases": []
          },
          {
            "id": 18,
            "name": "Новорожденным",
            "aliases": []
          }
          ]
        },
        {
          "id": 8,
          "name": "Спецодежда",
          "tags": [{
            "id": 19,
            "name": "Медицинская одежда",
            "aliases": []
          },
          {
            "id": 20,
            "name": "Сигнальная одежда",
            "aliases": []
          }
          ]
        }
        ]
      },
      {
        "id": 3,
        "name": "Обувь",
        "subcategories": [{
          "id": 9,
          "name": "Мужчинам",
          "tags": [{
            "id": 21,
            "name": "Домашняя обувь",
            "aliases": []
          },
          {
            "id": 22,
            "name": "Ботинки и полуботинки",
            "aliases": []
          }
          ]
        },
        {
          "id": 10,
          "name": "Женщинам",
          "tags": [{
            "id": 23,
            "name": "Балетки",
            "aliases": []
          },
          {
            "id": 24,
            "name": "Босоножки",
            "aliases": []
          }
          ]
        },
        {
          "id": 11,
          "name": "Детям",
          "tags": [{
            "id": 25,
            "name": "Девочкам",
            "aliases": []
          },
          {
            "id": 26,
            "name": "Мальчикам",
            "aliases": []
          }
          ]
        },
        {
          "id": 12,
          "name": "Уход и аксессуары",
          "tags": [{
            "id": 27,
            "name": "Чехлы на обувь",
            "aliases": []
          },
          {
            "id": 28,
            "name": "Губки",
            "aliases": []
          }
          ]
        }
        ]
      },
      {
        "id": 4,
        "name": "Дом и Сад",
        "subcategories": [{
          "id": 13,
          "name": "Посуда",
          "tags": [{
            "id": 29,
            "name": "Столовая посуда",
            "aliases": []
          },
          {
            "id": 30,
            "name": "Столовые приборы",
            "aliases": []
          },
          {
            "id": 31,
            "name": "Детская посуда",
            "aliases": []
          }
          ]
        },
        {
          "id": 14,
          "name": "Текстиль",
          "tags": [{
            "id": 32,
            "name": "Шторы и карнизы",
            "aliases": []
          },
          {
            "id": 33,
            "name": "Постельное белье",
            "aliases": []
          },
          {
            "id": 34,
            "name": "Одеяла",
            "aliases": []
          }
          ]
        },
        {
          "id": 15,
          "name": "Дача и сад",
          "tags": [{
            "id": 35,
            "name": "Отдых и пикник",
            "aliases": []
          },
          {
            "id": 36,
            "name": "Садовая мебель",
            "aliases": []
          },
          {
            "id": 37,
            "name": "Садовый инструмент",
            "aliases": []
          }
          ]
        },
        {
          "id": 16,
          "name": "Товары для бани и сауны",
          "tags": [{
            "id": 38,
            "name": "Веники для бань",
            "aliases": []
          },
          {
            "id": 39,
            "name": "Банный текстиль",
            "aliases": []
          },
          {
            "id": 40,
            "name": "Ведра и кадки",
            "aliases": []
          }
          ]
        }
        ]
      }
      ]
    },
    {
      "id": 2,
      "name": "Сырье",
      "categories": [{
        "id": 5,
        "name": "Металлы и сплавы",
        "subcategories": [{
          "id": 17,
          "name": "Черные металлы и сплавы",
          "tags": [{
            "id": 41,
            "name": "Сталь",
            "aliases": []
          },
          {
            "id": 42,
            "name": "Чугун",
            "aliases": []
          }
          ]
        },
        {
          "id": 18,
          "name": "Цветные металлы и сплавы",
          "tags": [{
            "id": 43,
            "name": "Алюминий",
            "aliases": []
          },
          {
            "id": 44,
            "name": "Олово",
            "aliases": []
          },
          {
            "id": 45,
            "name": "Медь",
            "aliases": []
          }
          ]
        }
        ]
      },
      {
        "id": 6,
        "name": "Резина",
        "subcategories": [{
          "id": 19,
          "name": "Резины общего назначения",
          "tags": [{
            "id": 46,
            "name": "Натуральный каучук",
            "aliases": []
          },
          {
            "id": 47,
            "name": "Синтетический каучук бутадиеновый",
            "aliases": []
          },
          {
            "id": 48,
            "name": "Синтетический каучук изопреновый",
            "aliases": []
          }
          ]
        },
        {
          "id": 20,
          "name": "Резины специального назначения",
          "tags": [{
            "id": 49,
            "name": "Наирит",
            "aliases": []
          },
          {
            "id": 50,
            "name": "Бутадиеннитрильный каучук",
            "aliases": []
          },
          {
            "id": 51,
            "name": "Тиокол",
            "aliases": []
          }
          ]
        }
        ]
      }
      ]
    },
    {
      "id": 3,
      "name": "Технологии",
      "categories": [{
        "id": 7,
        "name": "3D печать",
        "subcategories": [{
          "id": 21,
          "name": "3D печать",
          "tags": [{
            "id": 52,
            "name": "Прототипирование методом наплавления",
            "aliases": [
              "FDM"
            ]
          },
          {
            "id": 53,
            "name": "Селективное лазерное спекание",
            "aliases": [
              "SLS"
            ]
          },
          {
            "id": 54,
            "name": "Лазерная стереолитография",
            "aliases": [
              "SLA"
            ]
          },
          {
            "id": 55,
            "name": "Электронно-лучевая плавка",
            "aliases": [
              "EBM"
            ]
          },
          {
            "id": 56,
            "name": "Производство моделей с использованием ламинировани",
            "aliases": [
              "LOM"
            ]
          },
          {
            "id": 57,
            "name": "Многоструйное моделирование",
            "aliases": [
              "MJM"
            ]
          }
          ]
        }]
      }]
    }
    ]
    setTimeout(() => {
      if (Math.random() * 100 < 7) {
        reject({ error: 'Ooops...' })
      } else {
        resolve(data);
      }
    }, Math.floor(Math.random() * 2000));
  });
};
</script>

<style lang="scss">
.add-tags {
  background-color: var(--white);
  border-radius: 10px;
  width: 540px;

  &__header {
    padding: 40px 40px 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      background-color: var(--gray-1);
      bottom: 0;
      left: 0;
    }
  }

  &__content {
    padding: 40px 40px 56px 40px;

    &.bottom {
      padding: 40px 40px 0 40px;
    }
  }

  &__list {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    position: relative;
    max-height: 200px;
    height: inherit;
    overflow-x: hidden;
    overflow-y: auto;
    
    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 999px;
      border: 4px solid transparent;
      background-clip: content-box;
      background-color: var(--primary);
    }

    &.border {
      padding: 24px 40px;

      &::-webkit-scrollbar {
        display: none;
      }

      &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background-color: var(--gray-1);
        top: 0;
        left: 0;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    background-color: var(--gray-2);
    color: var(--gray-5);
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;

    &.deletable {
      cursor: default;
    }

    &:hover {
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    }
  }

  &__footer {
    padding: 24px 40px;
    display: flex;
    gap: 20px;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      background-color: var(--gray-1);
      top: 0;
      left: 0;
    }
  }

  &__title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: var(--gray-4);

    &.bold {
      color: var(--dark);
      font-weight: 500;
    }

    &.padding {
      padding: 20px 0 24px;
    }
  }

  &__delete {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }


}</style>