<template>
  <button class="button" :disabled="disabled">
    <slot></slot>
  </button>
</template>

<script setup>
const props = defineProps({
  title: {
    type: String,
  },
})


</script>

<style lang="scss">
.button {
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  padding: 10px 23px;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--white);
  background-color: var(--primary);
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }

  &:disabled {
    background-color: var(--gray-4);
  }

  &.ghost {
    background-color: var(--gray-2);
    color: var(--dark);

    &:hover {
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    }
  }
}
</style>