
<template>
  <svg class="icon" >
    <use :href="`/sprite.svg#${iconName}`" />
  </svg>
</template>

<script setup lang="ts">
const props = defineProps({
  iconName: {
    type: String,
  },
});
</script>

<style lang="scss" scoped>
.icon {
  display: block;
}
</style>