<template>
  <div class="input">
    <span class="input__name" v-if="title">{{ title }}</span>
    <input v-bind="$attrs" class="input__value" :value="modelValue" @input="updateValue" />
  </div>
</template>

<script setup lang="ts">
const props = defineProps({
  title: {
    type: String,
  },
  modelValue: {
    default: "",
  },
});
const emit = defineEmits(["update:modelValue"]);

const updateValue = (event: Event) => {
  emit("update:modelValue", (event.target as HTMLInputElement).value);
};

const test = [
  {
    "id": 3,
    "name": "Технологии",
    "categories": [{
      "id": 7,
      "name": "3D печать",
      "subcategories": [{
        "id": 21,
        "name": "3D печать",
        "tags": [{
          "id": 52,
          "name": "Прототипирование методом наплавления",
          "aliases": [
            "FDM"
          ]
        },
        {
          "id": 53,
          "name": "Селективное лазерное спекание",
          "aliases": [
            "SLS"
          ]
        },
        {
          "id": 54,
          "name": "Лазерная стереолитография",
          "aliases": [
            "SLA"
          ]
        },
        {
          "id": 55,
          "name": "Электронно-лучевая плавка",
          "aliases": [
            "EBM"
          ]
        },
        ]
      }]
    }]
  }
]
</script>

<style lang="scss" scoped>
.input {
  width: 100%;
  position: relative;
  $this: &;

  &__name {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: var(--primary);
    position: absolute;
    background-color: var(--white);
    top: -11px;
    left: 16px;
    padding: 4px;
  }

  &__value {
    background: none;
    min-width: 360px;
    border: 2px solid var(--primary);
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--dark);
    outline: none;
    transition: ease border-color 0.3s;
    padding: 14px 17px;

    &::placeholder {
      color: var(--dark);
      opacity: 0.5;
      font-weight: 500;
      font-size: 17px;
      line-height: 41px;
    }
  }
}
</style>
