<template>
  <div class="main">
    <Button @click="openModal">Добавить тег</Button>
    <Modal modalName="addTags">
      <AddTags />
    </Modal>
  </div>
</template>

<script setup>
import Button from "./components/Base/Button.vue";
import Modal from "./components/Modal.vue";
import AddTags from "./components/Modals/AddTags.vue";

import { useModal } from "./store/modal";

const modal = useModal();

const openModal = () => {
  modal.state = 'addTags';
}
</script>

<style lang="scss">
.main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
</style>